/* Stylesheet */

* {
    background-color: gold;
}

h1,
.title-list {
    text-align: center;
    color: crimson;
    font-size: 100px;
}

.title {
    background-color: turquoise;
    text-align: center;
    color: darkslategrey;
    font-size: 150px;
}

img {
    height: 800px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h2 {
    color: darkslategrey;
}

